/*
  Addaptive stats
  |
  |
  | PC screen width: 1400px.
  | Mobile screen width: 450px.
 */

@media (max-width: 1400px) {
  header li {
    font-size: 15px;
    line-height: 26px;
  }

  .head_contacts {
    padding: 13px 15px;
    font-size: 12px;
    border-radius: 7px;
  }

  .head_langs {
    gap: 10px;
  }

  .lang {
    font-size: 15px;
    line-height: 29px;
    font-weight: 500;
    cursor: pointer;
  }

  .head_whats img {
    width: 30px;
    height: 30px;
  }

  .head_logotype {
    width: 100px;
    height: 35px;
    position: relative;
  }

  .head_phoneNumber p {
    font-size: 13px;
  }

  .head_phoneNumber h3 {
    font-size: 14px;
  }

  .main_container_one h1 {
    font-size: 30px;
  }

  .main_container_one p {
    font-size: 16px;
    margin-top: 10px;
  }

  .shadow_content {
    height: 100px;
  }

  .imgs_content div:nth-child(1) {
    width: 100px;
    height: 100px;
    margin-bottom: -50px;
  }

  .imgs_content div:nth-child(2) {
    width: 80px;
    height: 150px;
    margin-left: -20px;
  }

  .imgs_content div:nth-child(3) {
    width: 120px;
    height: 200px;
    margin-left: -20px;
  }

  .imgs_content div:nth-child(4) {
    width: 80px;
    height: 150px;
    margin-left: -30px;
  }

  .imgs_content div:nth-child(5) {
    width: 80px;
    height: 130px;
    margin-left: -30px;
  }

  .imgs_content div:nth-child(6) {
    width: 150px;
    height: 200px;
    margin-left: -100px;
    margin-top: -70px;
  }

  .main_bottom_content img {
    width: 40px;
    height: 40px;
  }

  .main_bottom_content h3 {
    font-size: 13px;
    font-weight: 500;
  }

  .marquee {
    padding: 15px 0;
  }

  .marquee span {
    margin: 0 10px;
    font-size: 14px;
  }

  /* brands */

  .title_block {
    margin: 20px 0;
  }

  .title_block h1 {
    font-size: 22px;
    width: 70%;
    margin-bottom: 8px
  }
  
  .slider_container h1 {
    font-size: 22px;
  }

  .title_block p {
    font-size: 15px;
  }

  .brands {
    gap: 25px;
    padding: 20px;
  }

  .brands img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  /* about 1 */

  .about_us_content1 {
    margin: 20px 0;
  }

  .left_content1 {
    width: 50%;
    padding-right: 10px;
  }

  .left_content1 h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.55;
    margin-bottom: 10px
  }

  .left_content1 div {
    gap: 10px;
    margin: 25px 0;
  }

  .left_content1 p {
    font-size: 15px;
    line-height: 23px;
  }

  .left_content1 img {
    width: 30px;
    height: 30px;
  }

  /* about 2 */

  .about_us_content2 {
    margin: 20px 0;
    padding: 20px;
  }

  .left_content2 {
    width: 50%;
  }

  .left_content2 h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .step_work_container {
    margin-top: 25px;
  }

  .step_work_container img {
    width: 30px;
    height: 30px;
  }

  .step_work_container h3 {
    font-size: 15px;
    margin: 10px 0;
  }

  .step_work_container p {
    font-size: 12px;
    margin: 8px 0;
  }

  .box_container_1 div {
    width: 50%;
    margin: 10px;
  }

  .box_container_2 div {
    width: 50%;
    margin: 10px;
  }

  .right_content2 {
    width: 500px;
  }

  /* faq */

  .faq-container {
    margin: 20px 0;
  }

  .faq-container h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .faq-item {
    padding: 10px 0;
  }

  .faq-question h1 {
    font-size: 20px;
  }

  .faq-question span {
    font-size: 40px;
  }

  .faq-answer p {
    font-size: 15px;
  }

  .map iframe {
    width: 100% !important;
    height: 400px !important;
  }


  /* * footer * */

  .first_content_footer {
    margin-top: 20px;
  }

  .first_content_footer div {
    gap: 25px;
  }

  .first_content_footer img {
    width: 100px;
    height: 35px;
  }

  .second_content_footer {
    margin: 15px 0;
  }

  .second_content_footer p {
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  .head_container {
    display: none !important;
  }

  .left_head_container ul {
    display: none;
  }

  .burger-menu {
    display: block;
    color: white;
  }

  .menu-container {
    padding: 20px;
    background: rgb(66, 146, 66);
  }

  .close_menu {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu_logo {
    width: 150px;
    height: 50px;
  }

  .menu_container {
    margin-top: 50px;
  }

  .menu-container ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .menu-container li {
    font-size: 25px;
  }

  .menu-container a {
    color: white;
  }

  .head_langs_menu {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }

  .head_langs_menu h1 {
    font-size: 17px !important;
  }

  .menu_phoneNumber {
    margin-top: 30px;
  }

  .head_phoneNumber p {
    font-size: 14px;
  }

  .head_phoneNumber h3 {
    font-size: 16px;
    color: rgb(73, 129, 65);
  }

  .btn_contact {
    margin-top: 30px;
  }

  .btn_contact button {
    width: 50%;
  }
}

@media (max-width: 950px) {

  .shadow_content {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;

  }

  .imgs_content div {
    animation: none;
  }

  .imgs_content {
    margin-top: 20px;
    top: 50px;
  }

  .main_container_one h1 {
    font-size: 25px;
  }

  .main_container_one p {
    font-size: 15px;
  }

  .main_bottom_content img {
    width: 30px;
    height: 30px;
  }

  .main_bottom_content h3 {
    font-size: 10px;
    font-weight: 500;
  }

  .content_2 img {
    width: 300px;
    margin: 0 20px;
    margin-top: 50px;
  }

  .marquee {
    padding: 5px 0;
  }

  .marquee span {
    font-size: 10px;
  }

  /* brands */

  .title_block {
    margin: 10px 0;
  }

  .title_block h1 {
    font-size: 18px;
    width: 80%;
    margin-bottom: 8px
  }

  .title_block p {
    font-size: 13px;
  }

  .brands {
    gap: 15px;
    padding: 10px 15px;
  }

  .brands img {
    width: 80px;
    height: 80px;
  }

  /* about 1 */

  .about_us_content1 {
    margin: 15px 0;
    flex-direction: column;
  }

  .left_content1 {
    width: 100%;
    padding-right: 0px;
  }

  .left_content1 h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .slider_container h1 {
    font-size: 20px;
  }

  .left_content1 div {
    gap: 10px;
    margin: 25px 0;
  }

  .left_content1 p {
    font-size: 13px;
    line-height: 20px;
  }

  .left_content1 img {
    width: 30px;
    height: 30px;
  }

  .right_content1 {
    width: 100%;
    height: 250px;
  }

  /* about 2 */

  .about_us_content2 {
    margin: 15px 0;
    padding: 15px;
    flex-direction: column;
  }

  .left_content2 {
    width: 100%;
  }

  .left_content2 h1 {
    font-size: 20px;
    line-height: 30px;
  }

  .step_work_container {
    margin-top: 20px;
  }

  .step_work_container img {
    width: 30px;
    height: 30px;
  }

  .step_work_container h3 {
    font-size: 13px;
    margin: 10px 0;
  }

  .step_work_container p {
    font-size: 10px;
    margin: 8px 0;
  }

  .box_container_1 div {
    margin: 8px;
  }

  .box_container_2 div {
    margin: 8px;
  }

  .right_content2 {
    width: 100%;
    height: 250px;
  }

  /* faq */

  .faq-container {
    margin: 15px 0;
  }

  .faq-container h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .faq-item {
    padding: 10px 0;
  }

  .faq-question h1 {
    font-size: 15px;
  }

  .faq-question span {
    font-size: 30px;
  }

  .faq-answer p {
    font-size: 13px;
  }

  .map iframe {
    width: 100% !important;
    height: 250px !important;
  }


  /* * footer * */

  .first_content_footer {
    margin-top: 20px;
  }

  .first_content_footer div {
    gap: 20px;
  }

  .first_content_footer a {
    font-size: 13px;
  }

  .first_content_footer img {
    width: 100px;
    height: 35px;
  }

  .second_content_footer {
    margin: 15px 0;
  }

  .second_content_footer p {
    font-size: 10px;
  }
}

@media (max-width: 550px) {

  .swiper-button-next::after {
    font-size: 25px !important;
  }
  
  .swiper-button-prev::after {
    font-size: 25px !important;
  }

  .container {
    margin-top: 60px;
  }

  .head_contacts {
    padding: 13px 15px;
    font-size: 10px;
    border-radius: 7px;
  }

  .menu-container .head_langs {
    margin-top: 20px !important;
  }

  .content_2 img {
    width: 250px;
    margin: 0 20px;
    margin-top: 50px;
  }

  header {
    padding: 10px 15px ;
  }

  .head_logotype {
    width: 100px !important;
    height: 35px !important;
  }

  .burger-menu {
    display: block;
    font-size: 25px;
  }

  .imgs_content {
    margin-top: 20px;
    top: 50px;
  }

  .main_bottom_content {
    display: block;
  }

  .box_section_bottom {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main_container_one {
    text-align: left;
  }

  .main_container_one h1 {
    font-size: 20px;
  }

  .main_container_one p {
    font-size: 13px;
  }

  .main_bottom_content img {
    width: 30px;
    height: 30px;
  }

  .main_bottom_content h3 {
    font-size: 10px;
    font-weight: 500;
  }

  .marquee {
    padding: 5px 0;
  }

  .marquee span {
    font-size: 10px;
    position: relative;
    bottom: 3.5px;
  }


  .imgs_content div:nth-child(1) {
    width: 80px;
    height: 80px;
    margin-left: 0;
    margin-bottom: -20px;
  }

  .imgs_content div:nth-child(2) {
    width: 50px;
    height: 100px;
    margin-left: -20px;
  }

  .imgs_content div:nth-child(3) {
    width: 120px;
    height: 130px;
    margin-left: -40px;
  }

  .imgs_content div:nth-child(4) {
    width: 50px;
    height: 100px;
    margin-left: -50px;
  }

  .imgs_content div:nth-child(5) {
    width: 50px;
    height: 80px;
    margin-left: -20px;
  }

  .imgs_content div:nth-child(6) {
    width: 100px;
    height: 150px;
    margin-left: -50px;
    margin-top: -70px;
  }

  /* brands */

  .title_block {
    margin: 10px 0;
  }

  .title_block h1 {
    font-size: 15px;
    width: 80%;
    margin-bottom: 8px
  }

  .title_block p {
    font-size: 11px;
  }

  .brands {
    gap: 10px;
    padding: 10px 15px;
  }

  .brands img {
    width: 50px;
    height: 50px;
  }

  /* about 1 */

  .about_us_content1 {
    margin: 10px 0;
    flex-direction: column;
  }

  .left_content1 {
    width: 100%;
    padding-right: 0px;
  }

  .left_content1 h1 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .left_content1 div {
    gap: 10px;
    margin: 18px 0;
  }

  .left_content1 p {
    font-size: 11px;
    line-height: 17px;
  }

  .left_content1 img {
    width: 20px;
    height: 20px;
  }

  .right_content1 {
    width: 100%;
    height: 200px;
  }

  /* about 2 */

  .about_us_content2 {
    margin: 10px 0;
    padding: 13px;
  }

  .left_content2 h1 {
    font-size: 15px;
    line-height: 18px;
  }

  .step_work_container {
    margin-top: 20px;
  }

  .step_work_container img {
    width: 25px;
    height: 25px;
  }

  .step_work_container h3 {
    font-size: 10px;
    margin: 5px 0;
  }

  .step_work_container p {
    font-size: 8px;
    margin: 5px 0;
  }

  .box_container_1 div {
    margin: 5px;
  }

  .box_container_2 div {
    margin: 8px;
  }

  .right_content2 {
    width: 100%;
    height: 200px;
  }

  /* faq */

  .faq-container {
    margin: 10px 0;
  }

  .faq-container h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .slider_container h1 {
    font-size: 15px;
  }

  .faq-item {
    padding: 8px 0;
  }

  .faq-question h1 {
    font-size: 13px;
    top: 5px;
  }

  .faq-question span {
    font-size: 21px;
  }

  .faq-answer p {
    font-size: 9px;
  }

  .map iframe {
    height: 200px !important;
  }


  /* * footer * */

  .first_content_footer {
    margin-top: 20px;
  }

  .first_content_footer div {
    gap: 20px;
  }

  .first_content_footer a {
    font-size: 13px;
  }

  .first_content_footer img {
    width: 100px;
    height: 35px;
  }

  .second_content_footer {
    margin: 15px 0;
  }

  .second_content_footer p {
    font-size: 10px;
  }
}

@media (max-width: 450px) {

  .content_2 img {
    width: 240px;
    margin: 0 20px;
    margin-top: 50px;
  }

  .swiper {
    width: 100%;
    height: 40vh;
    border-radius: 7px;
  }  

  .menu_logo {
    width: 100px;
    height: 40px;
  }

  .close_menu {
    font-size: 25px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .menu-container li {
    font-size: 20px;
  }

  .head_langs_menu {
    gap: 13px;
  }

  .head_langs_menu h1 {
    font-size: 15px !important;
  }

  .menu_phoneNumber {
    margin-top: 30px;
  }

  .head_phoneNumber p {
    font-size: 13px;
  }

  .head_phoneNumber h3 {
    font-size: 15px;
    color: rgb(73, 129, 65);
  }

  .btn_contact {
    margin-top: 30px;
  }

  header {
    padding: 10px 10px;
  }

  .head_logotype {
    width: 70px !important;
    height: 25px !important;
  }

  .burger-menu {
    display: block;
    color: white;
    font-size: 20px;
  }

  .wrapper {
    margin: 0 10px;
  }

  .main_container_one {
    text-align: left;
  }

  .main_container_one h1 {
    font-size: 17px;
  }

  .main_container_one p {
    font-size: 11px;
  }

  .main_bottom_content img {
    width: 20px;
    height: 20px;
  }

  .main_bottom_content h3 {
    font-size: 9px;
  }

  .marquee {
    padding: 2px 0;
  }

  .marquee span {
    font-size: 9px;
    position: relative;
    bottom: 3.5px;
  }

  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-5px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  .imgs_content div {
    animation: floatAnimation 3s ease-in-out infinite;
  }

  .imgs_content div:nth-child(1) {
    width: 55px;
    height: 55px;
    margin-left: 0;
    margin-bottom: -25px;
  }

  .imgs_content div:nth-child(2) {
    width: 40px;
    height: 80px;
    margin-left: -10px;
  }

  .imgs_content div:nth-child(3) {
    width: 80px;
    height: 100px;
    margin-left: -20px;
  }

  .imgs_content div:nth-child(4) {
    width: 45px;
    height: 85px;
    margin-left: -20px;
  }

  .imgs_content div:nth-child(5) {
    width: 40px;
    height: 70px;
    margin-left: -15px;
  }

  .imgs_content div:nth-child(6) {
    width: 80px;
    height: 120px;
    margin-left: -30px;
    margin-top: -50px;
  }

  /* brands */

  .title_block {
    margin: 10px 0;
  }

  .title_block h1 {
    font-size: 13.5px;
    width: 100%;
    margin-bottom: 8px
  }

  .title_block p {
    font-size: 10px;
  }

  .brands {
    gap: 10px;
    padding: 10px 15px;
  }

  .brands img {
    width: 45px;
    height: 45px;
  }

  /* about 1 */

  .about_us_content1 {
    margin: 10px 0;
    flex-direction: column;
  }

  .left_content1 {
    width: 100%;
    padding-right: 0px;
  }

  .left_content1 h1 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .left_content1 div {
    gap: 10px;
    margin: 18px 0;
  }

  .left_content1 p {
    font-size: 11px;
    line-height: 17px;
  }

  .left_content1 img {
    width: 20px;
    height: 20px;
  }

  .right_content1 {
    width: 100%;
    height: 200px;
  }

  /* about 2 */

  .about_us_content2 {
    margin: 10px 0;
    padding: 13px;
  }

  .left_content2 h1 {
    font-size: 15px;
    line-height: 18px;
  }

  .step_work_container {
    margin-top: 20px;
  }

  .step_work_container img {
    width: 25px;
    height: 25px;
  }

  .step_work_container h3 {
    font-size: 10px;
    margin: 5px 0;
  }

  .step_work_container p {
    font-size: 8px;
    margin: 5px 0;
  }

  .box_container_1 div {
    margin: 5px;
  }

  .box_container_2 div {
    margin: 8px;
  }

  .right_content2 {
    width: 100%;
    height: 200px;
  }

  /* faq */

  .faq-container {
    margin: 10px 0;
  }

  .faq-container h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .faq-item {
    padding: 8px 0;
  }

  .faq-question h1 {
    font-size: 10px;
    top: 5px;
  }

  .faq-question span {
    font-size: 18px;
  }

  .faq-answer p {
    font-size: 8px;
  }

  .map iframe {
    height: 200px !important;
    margin-top: 5px;
  }


  /* * footer * */

  .first_content_footer {
    margin-top: 20px;
  }

  .first_content_footer div {
    gap: 20px;
  }

  .first_content_footer a {
    font-size: 10px;
  }

  .first_content_footer img {
    width: 70px;
    height: 25px;
  }

  .second_content_footer {
    margin: 15px 0;
  }

  .second_content_footer p {
    font-size: 8px;
  }

  .instagram_icon {
    width: 17px !important;
    height: 17px !important;
  }
}

@media (max-width: 340px) {

  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .content_2 img {
    width: 200px;
    margin: 0 20px;
    animation: floatAnimation 3s ease-in-out infinite;
    margin-top: 50px;
  }

  .main_container_one h1 {
    font-size: 15px;
  }

  .main_container_one p {
    font-size: 9px;
  }

  .main_bottom_content img {
    width: 15px;
    height: 15px;
  }

  .main_bottom_content h3 {
    font-size: 8px;
  }

  .imgs_content div:nth-child(1) {
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-bottom: -10px;
  }
  .imgs_content div:nth-child(2) {
    width: 30px;
    height: 60px;
    margin-left: -10px;
  }

  .imgs_content div:nth-child(3) {
    width: 60px;
    height: 80px;
    margin-left: -13px;
  }

  .imgs_content div:nth-child(4) {
    width: 30px;
    height: 70px;
    margin-left: -20px;
  }

  .imgs_content div:nth-child(5) {
    width: 30px;
    height: 60px;
    margin-left: -13px;
  }

  .imgs_content div:nth-child(6) {
    width: 70px;
    height: 100px;
    margin-left: -25px;
    margin-top: -45px;
  }

  .main_bottom_content {
    margin-top: 70px;
  }

  /* brands */

  .title_block {
    margin: 10px 0;
  }

  .title_block h1 {
    font-size: 10.5px;
    width: 100%;
    margin-bottom: 5px
  }

  .title_block p {
    font-size: 8px;
  }

  .brands {
    gap: 5px;
    padding: 8px 10px;
  }

  .brands img {
    width: 40px;
    height: 40px;
  }

  /* about 1 */

  .about_us_content1 {
    margin: 10px 0;
    flex-direction: column;
  }

  .left_content1 {
    width: 100%;
    padding-right: 0px;
  }

  .left_content1 h1 {
    font-size: 11.5px;
    margin-bottom: 5px;
  }

  .slider_container h1 {
    font-size: 11.5px;
  }

  .left_content1 div {
    gap: 10px;
    margin: 18px 0;
  }

  .left_content1 p {
    font-size: 8px;
    line-height: 14px;
  }

  .left_content1 img {
    width: 15px;
    height: 15px;
  }

  .right_content1 {
    width: 100%;
    height: 150px;
  }

  /* about 2 */

  .about_us_content2 {
    margin: 10px 0;
    padding: 13px;
  }

  .left_content2 h1 {
    font-size: 11.5px;
    line-height: 17px;
  }

  .step_work_container {
    margin-top: 15px;
  }

  .step_work_container img {
    width: 20px;
    height: 20px;
  }

  .step_work_container h3 {
    font-size: 8px;
    margin: 3px 0;
  }

  .step_work_container p {
    font-size: 6px;
    margin: 3px 0;
  }

  .box_container_1 div {
    margin: 5px;
  }

  .box_container_2 div {
    margin: 5px;
  }

  .right_content2 {
    width: 100%;
    height: 150px;
  }

  .marquee span {
    font-size: 8px;
    position: relative;
    bottom: 3.5px;
  }

  /* faq */

  .faq-container {
    margin: 10px 0;
  }

  .faq-container h1 {
    font-size: 11.5px;
    margin-bottom: 10px;
  }

  .faq-item {
    padding: 8px 0;
  }

  .faq-question h1 {
    font-size: 8px;
    top: 5px;
  }

  .faq-question span {
    font-size: 15px;
  }

  .faq-answer p {
    font-size: 6px;
  }

  .map iframe {
    height: 150px !important;
    margin-top: 5px;
  }


  /* * footer * */

  .first_content_footer {
    margin-top: 20px;
  }

  .first_content_footer div {
    gap: 13px;
  }

  .first_content_footer a {
    font-size: 8px;
  }

  .first_content_footer img {
    width: 70px;
    height: 25px;
  }

  .second_content_footer {
    margin: 10px 0;
  }

  .second_content_footer p {
    font-size: 6px;
  }

  .first_content_footer .instagram_icon {
    width: 13px !important;
    height: 13px !important;
  }
}