@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* * header container * */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.head_logotype {
  width: 150px;
  height: 50px;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.317);

  padding: 15px 25px;
}

header .head_container {
  display: flex;
  align-items: center;

  gap: 30px;
}

header img {
  object-fit: cover;
}

header ul {
  display: flex;
  gap: 50px;
}

header li {
  position: relative;
  font-size: 19px;
  line-height: 29px;
}

header li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(73, 129, 65);
  ;
  transition: width 0.3s ease, left 0.3s ease;
}

header li:hover::before {
  width: 100%;
  left: 0;
}

header a {
  color: black;
}

.head_phoneNumber {
  cursor: pointer;
}

.head_phoneNumber p {
  font-size: 14px;
}

.head_phoneNumber h3 {
  font-size: 16px;
  color: rgb(73, 129, 65);
}

.head_whats img {
  width: 50px;
  height: 50px;
}

.head_contacts {
  padding: 13px 25px;
  text-transform: uppercase;
  background-color: rgb(73, 129, 65);
  color: white !important;
  border: 2px solid rgb(73, 129, 65);
  transition: .3s;
  border-radius: 7px;
}

.head_contacts:hover {
  background: none;
  color: rgb(73, 129, 65) !important;
}

.head_langs {
  display: flex;
  gap: 15px;
}

.lang {
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  cursor: pointer;
}

.lang.active {
  position: relative;
}

.lang.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
}

.burger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-container.open {
  transform: translateY(0);
}

.menu-container {
  overflow-x: scroll;
  position: fixed;
  background-color: white;
  transition: 0.60s transform ease-in-out;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-110%);
}



/* * Main block one * */

.wrapper {
  margin: 0 25px;
}

.container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_container_one h1 {
  white-space: normal;
  font-size: 39px;
  line-height: 1.55;
  background-size: cover;
}

.main_container_one p {
  vertical-align: middle;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  margin-top: 15px;
}


.shadow_content {
  height: 150px;
}

.imgs_content {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  top: 50px;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}


.imgs_content div {
  position: relative;
  animation: floatAnimation 3s ease-in-out infinite;
}

.imgs_content div:nth-child(1) {
  background: url('../assets/main-imgs/1m.png') center / cover no-repeat;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin-left: 0;
  margin-bottom: -50px;
}

.imgs_content div:nth-child(2) {
  background: url('../assets/main-imgs/2m.png') center / cover no-repeat;
  z-index: 2;
  width: 100px;
  height: 200px;
  margin-left: -20px;
}

.imgs_content div:nth-child(3) {
  background: url('../assets/main-imgs/3m.png') center / cover no-repeat;
  z-index: 3;
  width: 170px;
  height: 250px;
  margin-left: -30px;
}

.imgs_content div:nth-child(4) {
  background: url('../assets/main-imgs/4m.png') center / cover no-repeat;
  z-index: 2;
  width: 100px;
  height: 200px;
  margin-left: -40px;
}

.imgs_content div:nth-child(5) {
  background: url('../assets/main-imgs/5m.png') center / cover no-repeat;
  z-index: 1;
  width: 80px;
  height: 150px;
  margin-left: -30px;
}

.imgs_content div:nth-child(6) {
  background: url('../assets/main-imgs/6m.png') center / cover no-repeat;
  z-index: 0;
  width: 200px;
  height: 250px;
  margin-left: -100px;
  margin-top: -100px;
}

.main_bottom_content {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 30px;
}

.main_bottom_content img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.main_bottom_content div {
  display: flex;
  align-items: center;
}

.main_bottom_content h3 {
  font-size: 16px;
  font-weight: 500;
}

.marquee {
  padding: 15px 0;
  background: rgba(72, 129, 65, 0.309);
}

.marquee span {
  margin: 0 10px;
}

/* * brands * */

.title_block {
  text-align: left;
  margin: 25px 0;
}

.title_block h1 {
  font-size: 25px;
  width: 70%;
  font-weight: 600;
  line-height: 1.55;
  margin-bottom: 10px
}

.title_block p {
  font-size: 18px;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: #e6e6e6;
  gap: 30px;
  padding: 25px;
  border-radius: 7px;
}

.brands img {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

/* * About us content 1 * */

.about_us_content1 {
  display: flex;
  margin: 25px 0;
}

.left_content1 {
  width: 50%;
  padding-right: 10px;
}

.left_content1 h1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.55;
  margin-bottom: 10px
}

.left_content1 div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}

.left_content1 p {
  font-size: 18px;
  line-height: 28px;
}

.left_content1 img {
  width: 45px;
  height: 45px;
}

.right_content1 {
  background: url('../assets/market1.jpg') center / cover no-repeat;
  width: 50%;
  height: 70vh;
  border-radius: 7px;
}


/* * swiper_container * */

.slider_container {
  margin: 25px 0
}

.swiper {
  width: 100%;
  height: 400px;
  margin: 25px 0;
}

.slider_container h1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.55;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
}

.swiper-slide img {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  object-fit: contain;
}

.swiper-slide h1 {
  font-size: 20px;
  position: relative;
}

.swiper-line {
  margin: 20px 0;
  width: 30px;
  height: 3px;
  background-color: rgb(73, 129, 65);
}

.swiper-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide p {
  font-size: 15px;
  line-height: 23px;
}

/* * about_us_content2 * */

.about_us_content2 {
  margin: 25px 0;
  padding: 25px;
  background: #e6e6e6;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.left_content2 {
  width: 50%;
}

.left_content2 h1 {
  font-size: 25px;
  line-height: 38px;
}

.step_work_container {
  margin-top: 50px;
}

.step_work_container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.step_work_container h3 {
  font-size: 18px;
  margin: 10px 0;
}

.step_work_container p {
  font-size: 15px;
  margin: 10px 0;
}

.box_container_1 {
  display: flex;
}

.box_container_1 div {
  width: 50%;
  margin: 15px;
}

.box_container_2 {
  display: flex;
}

.box_container_2 div {
  width: 50%;
  margin: 15px;
}

.right_content2 {
  background: url("../assets/market1.jpg") center / cover no-repeat;
  width: 700px;
  height: auto;
  border-radius: 7px;
}

/* faq */

.faq-container {
  margin: 25px 0;
  transition: max-height 1s ease-out, opacity 0.3s ease-out;
}

.faq-container h1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.55;
  margin-bottom: 25px;
}

.faq-item {
  transition: max-height 1s ease-out, opacity .5s ease-out;
  border-top: solid 1px black;
  cursor: pointer;
  padding: 15px 0;
}

.faq-item:last-child {
  border-bottom: 1px solid gray;
}

.faq-question {
  transition: max-height 1s ease-out, opacity .5s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question h1 {
  font-size: 25px;
  font-weight: 400;
  position: relative;
  top: 10px;
}

.faq-question span {
  font-size: 50px;
  font-weight: 200;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity .1s ease-in;
  opacity: 0;
  margin-top: 5px;
  color: #555;
}

.faq-answer p {
  font-size: 18px;
  font-weight: bold;
}

.faq-answer.show {
  max-height: 200px;
  opacity: 1;
  transition: max-height 1s ease-out, opacity .1s ease-in;
}

/* * map * */

.map iframe {
  width: 100% !important;
  height: 500px !important;
}

/* * footer * */

.first_content_footer {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.first_content_footer div {
  display: flex;
  gap: 35px;
}

.first_content_footer a {
  color: black;
  text-decoration: underline;
}

.first_content_footer img {
  width: 150px;
  height: 50px;
  object-fit: cover;
}

.second_content_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.second_content_footer p {
  font-size: 15px;
  font-weight: 300;
}

.second_content_footer img {
  width: 30px;
  height: 30px;
}